---
import Input from './Input.astro'

const { input, cmd } = Astro.props
---

<div id="ps1">
        <span class="text-blue">vistor</span><span class="text-cyan">@</span
        ><span class="text-green">blog.simbafs.cc</span><span class="text-cyan"
                >:$ ~</span
        >
        {input && <Input />}
        <span>{cmd}</span>
</div>
