---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Link from '../components/Link.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi! 這裡是長條貓的測試部落格</h1>
			<h2>Building with Astro ......</h2>
			<p>
				舊網站 {'->'} <Link href="https://blog.simbafs.cc">https://blog.simbafs.cc</Link>
			</p>
		</main>
		<Footer />
	</body>
</html>
