---
import Terminal from '../components/terminal/index.tsx'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Terminal</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            @font-face {
                font-family: 'Hack';
                src: url('/Hack-NF.ttf');
            }

            * {
                box-sizing: border-box;
                font-family: 'Hack';
            }
        </style>
    </head>
    <body>
        <div
            class="bg-base03 text-base3 m-0 box-border h-screen w-screen p-4 leading-5"
        >
            <div
                class="border-base2 flex h-full w-full flex-col rounded-lg border-2 border-solid"
            >
                <div class="flex h-10 space-x-2 border-b-2 pl-2">
                    <div class="bg-red my-auto h-4 w-4 rounded-full"></div>
                    <div class="bg-yellow my-auto h-4 w-4 rounded-full"></div>
                    <div class="bg-green my-auto h-4 w-4 rounded-full"></div>
                    <div class="my-auto">
                        <p class="h-auto">Firefox: https://blog.simbafs.cc</p>
                    </div>
                </div>
                <div class="grid grow grid-cols-6">
                    <div class="border-r-2">
                        <p>menu</p>
                    </div>
                    <div class="col-span-5 p-1">
                        <Terminal client:only />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
