---
import Terminal from '../components/terminal/index.tsx'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Terminal</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            @font-face {
                font-family: 'Hack';
                src: url('/Hack-NF.ttf');
            }

            * {
                box-sizing: border-box;
                font-family: 'Hack';
            }
        </style>
    </head>
    <body>
        <div class="m-0 h-screen w-screen bg-base03 p-4 leading-5 text-base3">
            <div
                class="h-full w-full rounded-lg border-2 border-solid border-base2"
            >
                <div class="flex flex-wrap border-b-2 px-2 py-3">
                    <div class="flex items-center space-x-2">
                        <div class="h-4 w-4 shrink-0 rounded-full bg-red"></div>
                        <div class="h-4 w-4 shrink-0 rounded-full bg-yellow">
                        </div>
                        <div class="h-4 w-4 shrink-0 rounded-full bg-green">
                        </div>
                    </div>
                    <div class="grow">
                        <p class="break-all text-center">ssh blog.simbafs.cc</p>
                    </div>
                    <div class="flex flex-wrap items-center space-x-2">
                        <span class="bg-base3 text-base03 hover:underline"
                            >[H]ome</span
                        >
                        <span class="hover:underline">[A]chieve</span>
                        <span class="hover:underline">[S]earch</span>
                        <span class="hover:underline">a[B]out</span>
                        <span class="hover:underline">[T]ag</span>
                    </div>
                </div>
                <div class="p-1">
                    <Terminal client:only />
                </div>
            </div>
        </div>
    </body>
</html>
