---
import Terminal from '../components/terminal/index.tsx'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Terminal</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            @font-face {
                font-family: 'Hack';
                src: url('/Hack-NF.ttf');
            }

            * {
                box-sizing: border-box;
                font-family: 'Hack';
            }
        </style>
    </head>
    <body>
        <div
            class="m-0 box-border h-screen w-screen bg-base03 p-4 leading-5 text-base3"
        >
            <div
                class="h-full w-full rounded-lg border-2 border-solid border-base2"
            >
                <div class="flex h-10 space-x-2 pl-2">
                    <div class="my-auto h-4 w-4 shrink-0 rounded-full bg-red">
                    </div>
                    <div
                        class="my-auto h-4 w-4 shrink-0 rounded-full bg-yellow"
                    >
                    </div>
                    <div class="my-auto h-4 w-4 shrink-0 rounded-full bg-green">
                    </div>
                    <div class="my-auto">
                        <p class="h-auto break-all">ssh blog.simbafs.cc</p>
                    </div>
                </div>
                <div class="border-b-2 p-1 pt-0">
                    <span class="hover:underline bg-base3 text-base03"
                        >[H]ome</span
                    >
                    <span class="hover:underline">[A]chieve</span>
                    <span class="hover:underline">[S]earch</span>
                    <span class="hover:underline">a[B]out</span>
                    <span class="hover:underline">[T]ag</span>
                </div>
                <div class="p-1">
                    <Terminal client:only />
                </div>
            </div>
        </div>
    </body>
</html>
