---
import PS1 from '../components/terminal/PS1.astro'
import Exec from '../components/terminal/Exec.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            @font-face {
                font-family: 'Hack';
                src: url('/Hack-NF.ttf');
            }

            * {
                box-sizing: border-box;
                font-family: 'Hack';
            }
        </style>
    </head>

    <body class="m-0 bg-base03 text-base3">
        <div
            class="h-[calc(100vh-1rem*2)] w-[calc(100vw-1rem*2)] m-4 p-5 border-solid border-2 border-base2 rounded-lg"
        >
            <PS1 cmd="banner" />
            <Exec args={['banner']} />
            <PS1 input={true} />
        </div>
    </body>
</html>
