---
import BaseHead from '../components/BaseHead.astro'
import NavLink from '../components/NavLink.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="Terminal" description="this is a terminal like blog" />
    </head>
    <body>
        <div class="m-0 h-screen w-screen bg-base03 p-4 leading-5 text-base3">
            <div
                class="flex h-full w-full flex-col rounded-lg border-2 border-solid border-base2"
            >
                <div class="flex flex-wrap border-b-2 px-2 py-3">
                    <div class="flex items-center space-x-2">
                        <div class="h-4 w-4 shrink-0 rounded-full bg-red"></div>
                        <div class="h-4 w-4 shrink-0 rounded-full bg-yellow">
                        </div>
                        <div class="h-4 w-4 shrink-0 rounded-full bg-green">
                        </div>
                    </div>
                    <div class="grow">
                        <p class="break-all text-center font-bold">
                            &gt; ssh blog.simbafs.cc &lt;
                        </p>
                    </div>
                    <div class="flex flex-wrap items-center space-x-2">
                        <!-- TODO this shoud be done in NavLink -->
                        <NavLink href="/newBlog/">[H]ome</NavLink>
                        <NavLink href="/newBlog/archive">[A]rchive</NavLink>
                        <NavLink href="/newBlog/search">[S]earch</NavLink>
                        <NavLink href="/newBlog/about">a[B]out</NavLink>
                        <NavLink href="/newBlog/tag">[T]ag</NavLink>
                    </div>
                </div>
                <div class="grow overflow-scroll p-1">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>
